@import url('https://fonts.googleapis.com/css2?family=EB+Garamond');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative');

h1 {
    font-family: 'Cinzel Decorative', cursive;
    text-align: center;
}

body {
    font-family: 'EB Garamond', serif;
    animation-name: backgroundColorPalette;
    animation-duration: 420s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;
}

@keyframes backgroundColorPalette {
    0% { background: #f2d9d9; }
    8.3333333% { background: #f2e7d9; }
    16.6666666% { background: #f0f2d9; }
    24.9999999% { background: #e2f2d9; }
    33.3333332% { background: #d9f2dd; }
    41.6666665% { background: #d9f2eb; }
    49.9999998% { background: #d9ebf2; }
    58.3333331% { background: #d9ddf2; }
    66.6666664% { background: #e2d9f2; }
    74.9999999% { background: #f0d9f2; }
    83.333333% { background: #f2d9e7; }
    91.6666663% { background: #f2d9d9; }
    100% { background: #f2d9d9; }
}



/*
When setting the primary font stack, apply it to the Pure grid units along
with "html", "button", "input", "select", and "textarea". Pure Grids use
specific font stacks to ensure the greatest OS/browser compatibility.
*/
html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    /* Set your content font stack here: */
    font-family: 'EB Garamond', serif;
}

.l-box {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    text-align: justify;
    background-color: rgb(255, 255, 255);
}
