{
	order file_server before reverse_proxy
}
pub.flowkarma.live {
	reverse_proxy /join/* localhost:8000
	reverse_proxy /vrty/* localhost:8000
	file_server /doc/* {
		root /usr/home/freebsd/prototype-karma/web/
	}
	log {
		output file /var/log/caddy/access.log
		# Common Log Format:
		format single_field common_log
	}
}
flowkarma.live {
	tls {
		client_auth {
			trusted_ca_cert_file /usr/home/freebsd/prototype-karma/src/clavinger/ca.pem
		}
	}
	reverse_proxy * localhost:8000 {
		header_up X-SSL-Client-Serial {http.request.tls.client.serial}
		header_up X-SSL-Client-Subject {http.request.tls.client.subject}
	}
	file_server /static/* {
		root /usr/home/freebsd/prototype-karma/web/
	}
	log {
		output file /var/log/caddy/access.log
		# Common Log Format:
		format single_field common_log
	}
}
