{
	local_certs
	acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
	order file_server before reverse_proxy
}
localhost:2015 {
	file_server /static/*
	tls {
		client_auth {
			mode verify_if_given
			trusted_ca_cert_file ./ca.crt
		}
	}
	reverse_proxy * localhost:8000 {
		header_up X-SSL-Client-Serial {http.request.tls.client.serial}
	}
}
